{% extends 'MopaBootstrapBundle::base_less.html.twig' %}
{% block title %}
{% trans with {'%appname%': 'Mônica', '%module%':'Address'} from "app" %} %appname% E-commerce management system - %module%{% endtrans %}
{% endblock %}

{% block body -%}
    <h1>Address</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ entity.street }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ entity.number }}</td>
            </tr>
            <tr>
                <th>Apartament</th>
                <td>{{ entity.apartament }}</td>
            </tr>
            <tr>
                <th>Postalcode</th>
                <td>{{ entity.postalCode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ entity.city }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ entity.state }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ entity.country }}</td>
            </tr>
            <tr>
                <th>Obs</th>
                <td>{{ entity.obs }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Alias</th>
                <td>{{ entity.alias }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('address') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('address_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
